name: Trigger Public Badge Update

on:
  push:
    branches:
      - main

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger public repo workflow
        run: |
          curl -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.PAT_TOKEN }}" \
          https://api.github.com/repos/burakbasaranb/traveltostory-status/actions/workflows/update-badge.yml/dispatches \
          -d '{"ref":"main"}'
